{% extends "base.html" %}

{% block body %}
<!-- store_detail.html -->
<div class="container">
    <h1>{{ store.name }}</h1>
    <div class="store-info">
        <p><strong>Address:</strong> {{ store.address }}</p>
        <p><strong>Type:</strong> {{ store.store_type }}</p>
        <p><strong>Location:</strong> Latitude: {{ store.latitude }}, Longitude: {{ store.longitude }}</p>
    </div>

    <h2>Inventory:</h2>
    <ul class="inventory-list">
        {% for item in store.inventory.all %}
        <li>
            <p class="item-name">{{ item.item_name }}</p> <p class="price">{{ item.price }}L.E</span></p>
        </li>
        <form action="{% url "add_to_wishlist" item.id store.id %}" method="post">
            {% csrf_token %}
            Karma Point: <input type='number' value="karma" name="karma">
            <button class="btn btn-success" type="submit">Order</button>
        </form>
        <a href=""></a>
        {% empty %}
        <li class="no-items">No items available.</li>
        {% endfor %}
    </ul>
</div>

{% endblock body %}